<div class="container">
    <div class="center">
        <h1>Sign Up</h1>
        <form id="signup-form" method="POST" action="/auth/signup">
            <div class="inputbox">
                <input name="name" type="text" required="required">
                <span>Name</span>
            </div>
            <div class="inputbox">
                <input name="surname" type="text" required="required">
                <span>Surname</span>
            </div>
            <div class="inputbox">
                <input name="email" type="email" required="required">
                <span>Email</span>
            </div>
            <div class="inputbox">
                <input name="password" type="password" required="required">
                <span>Password</span>
            </div>
            <div class="inputbox">
                <input id="signup-submit-btn" type="submit" value="submit">
            </div>
            <div id="result"></div>
        </form>
    </div>
</div>
<script>
    $("#signup-form").submit(function(event) {
        event.preventDefault();
        var post_url = $(this).attr("action");
        var request_method = $(this).attr("method");
        var form_data = $(this).serialize();

        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data
        }).done(function(response) {
            if (response == "success") {
                $("#result").html("Success! You're redirecting to signin page...");
                setTimeout(function() {
                    window.location.href = "/auth/signin"
                }, 3000);
            } else {
                $("#result").html(response);
            }
        });
    });
</script>