nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #FFBCBC;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.logo {
    transform: translate(20px, 5px);
}

.logo a {
    color: #2C2E43;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
}

.logo a:hover {
    color: #595260;
}

.nav-links {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    transform: translate(-20px, 10px);
}

.nav-links li {
    list-style: none;
}

.draw-border {
    box-shadow: inset 0 0 0 2px #2C2E43;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 1em 2em;
    margin: 2px;
}

.draw-border::before,
.draw-border::after {
    border: 3 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

#btn-sign-in:hover,
#btn-sign-up:hover,
#btn-account:hover,
#btn-sign-out:hover {
    color: #2B2B2B;
    font-weight: bolder;
}